# ignore everything in the root except the "wp-content" directory.
!wp-content/
!wp-content-upgrade/
!wp-admin/
!wp-admin-upgrade/
!wp-includes/
!wp-includes-upgrade/

# ignore everything in the "wp-content"
wp-content/plugins/*
wp-content/backups-dup-pro/
wp-content/languages/
wp-content/themes/
wp-content/upgrade/
wp-content/uploads/
wp-content/wflogs/
wp-content/*.php
!wp-content/plugins/we-payment/
!wp-content/plugins/we-metrics/
!wp-content/plugins/we-customize/

# ignore everything in the "wp-admin"
wp-admin/*

# ignore everything in the "wp-includes"
wp-includes/*

# ignore log files and databases
*.log
*.sql
*.sqlite
