.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-social>:first-child {
    position: absolute;
    left: 16px;
    top: 7px;
    bottom: 0;
    width: 50px;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
    border-right: 0px solid rgba(0,0,0,0.2);
}
.login-social a:hover{
    color: #fff;
}
.login-social h2{
    font-size: 24px;
    text-align: center;
}
.login-social{
    width: 500px;
    margin: 0px auto;
}
li.disabled{
    pointer-events: none;
}
li.disabled a{
    color: #ddd !important;
}
.qty-cart-btn.feedback-btn{
    color: #fff;
    border: none;
    font-weight: bold;
}
.rp-user-info {
    padding-left: 15px;
}

.filter-active {
    color: #e9b436 !important;
}

.color-active {
    border: 2px solid #1dafdf !important;
}

.size-active {
    border: 2px solid #1dafdf !important;
}

.label-color{
    cursor:pointer;
    padding: 5px;
    border-radius: 100%;
    border: 1px solid #d4d4d4;
    background-color: #f8f9fa
}
.span-color{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.payment-accordion input[name='methodPay']{
    width: auto !important;
    height: auto !important;
}
.contact-phone:hover span{
    color: #FFFFFF !important;
}
#info-gift{
    font-weight: bold;
}
#infor-user-gift{
    display: none;
}

.footer-iframe iframe{
    display: inline-block;
}

.notification {
    margin-top: 60px;
}
